numpy
flatbuffers==23.5.26
fastapi
uvicorn
asyncio
requests
psutil
dash
plotly
colorama
matplotlib
pyqt5
pyqtgraph
pandas
scipy
ipython
ipykernel
jupyterlab
ipympl
iceoryx2==0.7.0
eclipse-zenoh==1.5.1
